* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h2 {
    font-size: 40px;
    font-family: cursive;
    flex: 50%;
    color: black;
    text-transform: uppercase;
}

h2::first-letter {
    font-size: 40px;
    color: orangered;
}

.header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.header img {
    flex: 50%;
    margin-top: -38px;

}

.container {
    transform: translateY(50%);
    border: 1px solid black;
    height: 35vh;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    border-radius: 10px;

}

.white-keys {
    position: relative;
    z-index: 998;
    flex: 10%;
    color: black;
    background-color: rgb(222, 220, 220);
    border-radius: 0px 0px 10px 10px;
}

.white-keys span {
    position: absolute;
    bottom: 5%;
    left: 50%;

}

.black-keys {
    position: absolute;
    height: 23vh;
    z-index: 999;
    background-color: black;
    flex: 14.2%;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(35, 36, 35);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 20px rgb(141, 138, 138);
    border: 1px solid black;


}

.black1 {
    left: 5%;
}

.black2 {
    left: 15%;
}

.black3 {
    left: 35%;
}

.black4 {
    left: 45%;
}

.black5 {
    left: 55%;
}

.black6 {
    left: 75%;
}

.black7 {
    left: 85%;
}

.play {
    transform: scale(1.03);
    background-color: rgb(185, 180, 180);
}

@media screen and (max-width:355px) {
    .black-keys {
        background-color: rgb(241, 237, 4);
        padding: 4px;
    }

}

@media screen and (min-width:356px) {
    .black-keys {
        background-color: rgb(241, 4, 4);
        padding: 11px;
    }

}

@media screen and (min-width:576px) {
    .black-keys {
        background-color: rgb(180, 236, 25);
        padding: 17px;
    }

}

@media screen and (min-width:756px) {
    .black-keys {
        background-color: rgb(0, 0, 0);
        padding: 21px;
    }
}

@media screen and (min-width:1056px) {
    .black-keys {
        background-color: rgb(0, 0, 0);
        padding: 29px;
    }
}

@media screen and (min-width:1400px) {
    .black-keys {
        background-color: rgb(0, 0, 0);
        padding: 44px;
    }
}

@media screen and (max-height:400px) {
    .container {
        height: 49vh;
    }

    .header {
        height: 5vh;
        position: absolute;
        top: 10px;
    }

    .black-keys {

        height: 28vh;
    }
}